*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
}

.body{
    background-color: var(--bs-blue);
}


.marcas{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
    padding: 3px;
}


